/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding-bottom: 50px;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Makes the image circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

/* Game Section Styles */
#game {
    margin-top: 30px;
    margin: 30px auto;
    margin: 0 auto; /* Centers the section horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

canvas {
    border: 1px solid #333;
    cursor: crosshair;
    display: block;
    margin: 0 auto;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#guessResult {
    margin-top: 20px;
    font-weight: bold;
}

#game * {
    text-align: center;
}